
CS-May-AM/.vs/CS-May-AM/v15/.suo
CS-May-AM/.vs/CS-May-AM/v15/Server/sqlite3/storage.ide
CS-May-AM/.vs/CS-May-AM/v15/Server/sqlite3/storage.ide-shm
CS-May-AM/.vs/CS-May-AM/v15/Server/sqlite3/storage.ide-wal
CS-May-AM/CS-May-AM-Session7.unitypackage

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/